body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
}

header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  top: 0px;
}

h1{
  position: relative;
  bottom: 15px;
  font-size: 30px;
  left: 20px;
}

#AddForm{
  position: relative;
}

.txtbtn{
  position: absolute;
  height: 60px;
  bottom: 0px;
  top: 140px; 
  width: 1200px;
  left: 5px;
}

.clrbtn{
  position: absolute;
  height: 60px;
  bottom: 0px;
  top: 250px; 
  width: 1200px;
  left: 5px;
}

.subbtn{
  border-width: 0px;
  position: absolute;
  background-color: black;
  color: white;
  top: -15px;
  right: 40px;
  padding: 15px;
  font-size: 30px;
}

.txt{
  position: absolute;
  bottom: 0px;
  top: 90px;
  left: 10px;
}

.clrTxt{
  position: absolute;
  bottom: 0px;
  top: 200px;
  left: 10px;
}

#addBtn{
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: #468bc8;
  border-width: 0;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 50px;
}

#btnGrp{
  position: absolute;
  top: 90px;
  left: 20px;
  border-radius: 20px;
}

./*myDiv{
  position: absolute;
  
}*/